* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #020617;
    color: white;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: radial-gradient(circle at top, #0ea5e9, #020617);
}

.hero h1 {
    font-size: 60px;
    letter-spacing: 2px;
}

.hero p {
    color: #cbd5f5;
    margin: 10px 0 20px;
}

.btn {
    padding: 12px 28px;
    background: #0ea5e9;
    color: black;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

.nav {
    position: sticky;
    top: 0;
    background: rgba(2,6,23,0.9);
    text-align: center;
    padding: 15px;
    backdrop-filter: blur(10px);
}

.nav a {
    margin: 0 15px;
    color: #e2e8f0;
    text-decoration: none;
    font-weight: bold;
}

section {
    max-width: 900px;
    margin: 80px auto;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
    color: #0ea5e9;
}

.skill {
    margin-bottom: 20px;
}

.bar {
    height: 8px;
    background: #1e293b;
    border-radius: 10px;
    overflow: hidden;
}

.fill {
    height: 100%;
    animation: grow 2s ease forwards;
}

.html { width: 90%; background: #0ea5e9; }
.css { width: 85%; background: #0ea5e9; }
.js { width: 70%; background: #0ea5e9; }
.sql { width: 75%; background: #0ea5e9; }

@keyframes grow {
    from { width: 0; }
}

.project-grid {
    display: grid;
    gap: 25px;
}

.card {
    padding: 25px;
    border-radius: 12px;
    background: linear-gradient(145deg, #0f172a, #020617);
    box-shadow: 0 0 20px rgba(14,165,233,0.2);
    transition: 0.4s;
}

.card:hover {
    transform: translateY(-8px) scale(1.02);
}


/* ANIMATIONS */
.fade-up {
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 1s ease forwards;
}

.delay { animation-delay: 0.3s; }
.delay2 { animation-delay: 0.6s; }

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.reveal {
    opacity: 0;
    transform: translateY(60px);
    animation: reveal 1.2s ease forwards;
}

@keyframes reveal {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
